/* Подключение шрифтов */
@font-face {
    font-family: "ManropeBold";
    src: url(../fonts/Manrope-Bold.ttf);
  }
  
  @font-face {
    font-family: "Manrope";
    src: url(../fonts/Manrope-Regular.ttf);
  }
  
  @font-face {
    font-family: "ManropeLight";
    src: url(../fonts/Manrope-Light.ttf);
  }
  
  /* Сброс базовых стилей */
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
    outline: none;
  }
  
  /* Общие стили для всего приложения */
  
  body {
    background: #031b34;
    overflow: auto;
  }
  body.oh {
    overflow: hidden;
  }
  .page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }
  
  a,
  button {
    cursor: pointer;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
  }
  
  a:hover,
  button:hover {
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
  }
  
  button:hover {
    background-color: #ae67fa;
  }
  
  ul li {
    list-style-type: none;
  }
  
  h1 {
    font-size: 60px;
    color: #ae67fa;
  }
  
  h2 {
    font-size: 34px;
  }
  
  h1,
  h2 {
    font-family: "ManropeBold", sans-serif;
    background: linear-gradient(90deg, #ae67fa 1.84%, #f49867 102.67%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  h3 {
    font-family: "ManropeBold", sans-serif;
    color: #fff;
    font-size: 24px;
  }
  
  p {

    font-size: 16px;
    color: #fff;
  }
  
  .btn {
    display: flex;
    padding: 1rem 2rem;
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  
  .primary-btn {
    background-color: #ff4820;
  }
  
  .section {
    max-width: 1169px;
    width: 100%;
  }
  
  .lined_header {
    background: url("./assets/img/gradient_line.svg") no-repeat 0 0 transparent;
    padding: 1rem 0;
  }
  
  /* Стили для Шапки */
  
  .header {
    display: flex;
    max-width: 1169px;
    margin: 0 auto;
    width: 100%;
    padding: 2rem 0;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background: #031b34;
  }
  
  .header .header__logo .logo__link {
    display: flex;
    align-items: center;
  }
  
  .header .header__menu .menu {
    display: flex;
    column-gap: 2rem;
  }
  
  .header .header__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 2rem;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
  }
  
  .header .header__right.hidden {
    opacity: 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    visibility: hidden;
  }
  
  .header .header__right .menu__close {
    width: 38px;
    height: 38px;
  }
  
  .header .header__right .menu__close.hidden {
    display: none;
  }
  
  .header .header__menu .menu .menu__item a {
    color: #fff;
    border-bottom: 1px solid transparent;
  }
  
  .header .header__menu .menu .menu__item:hover a {
    border-bottom-color: #fff;
  }
  
  .header .header__menu .menu .menu__item.active a {
    color: #f49867;
    border-bottom-color: #f49867;
  }
  
  .header .header__burger_menu {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    cursor: pointer;
  }
  
  .header .header__burger_menu.hidden {
    display: none;
  }
  
  .header .header__burger_menu .burger_menu__line,
  .header .header__right .menu__close .menu__line {
    width: 43px;
    height: 5px;
    border-radius: 2px;
    background: #fff;
  }
  
  .header .header__right .menu__close .menu__line:nth-child(1) {
    position: relative;
    top: 15px;
    right: 4px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
  }
  
  .header .header__right .menu__close .menu__line:nth-child(2) {
    position: relative;
    top: 10px;
    right: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
  }
  
  .header .cta_buttons {
    display: flex;
    column-gap: 1rem;
  }
  
  /* Стили для первого экрана (Хиро секция) */
  
  .hero_section {
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
    min-height: 60vh;
    margin: 14rem 0 3rem;
  }
  
  .hero_section .hero_section__left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3rem;
    width: 75%;
  }
  
  .hero_section .hero_section__left .left__description {
    color: #81afdd;
  }
  
  .hero_section .hero_section__left .left__cta_buttons {
    display: flex;
    width: 100%;
  }
  
  .hero_section .hero_section__left .left__cta_buttons input[type="text"] {
    min-width: 250px;
    width: 70%;
    padding: 8px 32px;
    border-radius: 4px 0 0 4px;
    border: 1px solid #052d56;
    border-bottom: none;
    background-color: #052d56;
  }
  
  .hero_section .hero_section__left .left__cta_buttons .btn {
    border-radius: 0 4px 4px 0;
  }
  
  .hero_section .hero_section__right {
    height: 100%;
  }
  
  .hero_section .hero_section__right img {
    width: 100%;
  }
  
  /* Секция брендов */
  
  .brands_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 0 6rem 0;
    row-gap: 2rem;
    column-gap: 3rem;
  }
  
  /* Что такое Chat GPT */
  
  .what_is_chatgpt_section {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    margin: 6rem 0;
    row-gap: 7rem;
    background: url(./assets/img/what_is_gpt_3_bg.svg) no-repeat 0 0 / cover;
  }
  
  .what_is_chatgpt_section .what_is_chatgpt_section__top {
    display: flex;
  }
  
  .what_is_chatgpt_section .what_is_chatgpt_section__top .top__header {
    flex: 30%;
  }
  
  .what_is_chatgpt_section .what_is_chatgpt_section__top .top__content {
    flex: 65%;
    color: #81afdd;
    font-size: 14px;
  }
  
  .what_is_chatgpt_section .what_is_chatgpt_section__middle {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  
  .what_is_chatgpt_section .what_is_chatgpt_section__middle .middle__header {
    width: 500px;
  }
  
  .what_is_chatgpt_section .what_is_chatgpt_section__middle a {
    color: #ff8a71;
    font-size: 16px;
    border-bottom: 1px solid transparent;
  }
  
  .what_is_chatgpt_section .what_is_chatgpt_section__middle a:hover {
    border-bottom: 1px solid #ff8a71;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
  }
  
  .what_is_chatgpt_section .what_is_chatgpt_section__bottom {
    display: flex;
    justify-content: space-between;
    align-items: start;
    column-gap: 2rem;
  }
  
  .what_is_chatgpt_section .what_is_chatgpt_section__bottom .bottom__container {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
  
  .what_is_chatgpt_section
    .what_is_chatgpt_section__bottom
    .bottom__container
    .container__content {
    color: #81afdd;
    font-size: 14px;
    line-height: 1.8;
  }
  
  /* Будущее наступило */
  
  .future_here {
    display: flex;
    column-gap: 6rem;
    margin: 6rem 0 2rem;
  }
  
  .future_here .future_here__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 2rem;
    flex: 2;
  }
  
  /* .future_here .future_here__left .left__header {
  } */
  
  .future_here .future_here__left .left__cta {
    color: #f49867;
    border-bottom: 1px solid transparent;
  }
  
  .future_here .future_here__left a:hover {
    border-bottom: 1px solid #f49867;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
  }
  
  .future_here .future_here__right {
    flex: 3;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
  }
  
  .future_here .future_here__right .right__container {
    display: flex;
    justify-content: space-between;
  }
  
  .future_here .future_here__right .right__container .container__header {
    width: 35%;
  }
  
  .future_here .future_here__right .right__container .container__content {
    width: 55%;
    color: #81afdd;
  }

  /*Секция "Превосходя все ожидания"*/
  .exceeding_all_expectations {
    display: flex;
    justify-content: center;
    min-height: 60vh;
    
    column-gap: 1rem;
    padding-left:3rem;
    padding-right:3rem;
  }
  .exceeding_all_expectations .exceeding_all_expectations__left{
    height: 100%;
  }
  .exceeding_all_expectations .exceeding_all_expectations__left img{
    width: 100%;
  }
  .exceeding_all_expectations .exceeding_all_expectations__right{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    align-items: flex-start;
    align-self: flex-end;
    margin-bottom: 3rem;
  }
  .exceeding_all_expectations .exceeding_all_expectations__right .bottom__cta{
    color: #FF8A71;
    font-size: 16px;
    border-bottom: 1px solid transparent;
  }
  .exceeding_all_expectations .exceeding_all_expectations__right .bottom__cta:hover{
    border-bottom: 1px solid #ff8a71;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
  }
  .exceeding_all_expectations .exceeding_all_expectations__right .top__cta{
    color:#71E5FF;
    font-size: 16px;
    border-bottom: 1px solid transparent;
  }
  .exceeding_all_expectations .exceeding_all_expectations__right .top__cta:hover{
    border-bottom: 1px solid #71E5FF;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
  }
  .exceeding_all_expectations .exceeding_all_expectations__right p{
    color: #81AFDD;
    line-height: 1.8;
  }

  /*Безраничные возможности*/
  .limitless_possibilities{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 3rem;
    margin: 6rem 0;
    row-gap: 1rem;
    /* background: url(./assets/img/Rectangle_26.svg) no-repeat center center / 100% 100%; */
    background-image: linear-gradient(to right, #AE67FA, #F49867);
    border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
  }

  .limitless_possibilities .limitless_possibilities__middle{
    display: flex;
    justify-content: space-between;
  }

  .limitless_possibilities .limitless_possibilities__middle h3{
    color: #000000;
    max-width: 600px;
    width: 100%;
    line-height: 1.5;
  }

  .limitless_possibilities .limitless_possibilities__middle button{
    background: #000000;
    color: #FFFFFF;
    padding: 1rem 4rem;
    font-size: 18px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    vertical-align: middle;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
  }
  .limitless_possibilities .limitless_possibilities__cta{
    color: #000000;
    font-size: 12px;
  }

 /* Блог */
  .blog .blog_containers{
    display: grid;
    min-height: 600px;
    /* border: 1px solid #ff4820; */
    grid-auto-rows: auto; 
    grid-template-columns: 1.5fr 1fr 1fr;
    /* gap: 10px; */
    grid-gap: 50px; 
  }
  .blog .blog_grid_container {
    display: flex;
    flex-direction: column;
    /* border: 1px solid #71E5FF; */
    /* background-color: #042C54; */
    height: 100%;
  }
  .blog .blog_grid_container:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 3; 
    height: 100%;
  }
  .blog .blog_grid_container img {
    width: 100%;
    height: auto;
  }
  .blog .blog_grid_container:not(:nth-child(1)) {
    grid-column: auto; 
    grid-row: auto;   
  } 
  .blog .blog-content {
    flex-grow: 1;
    background-color: #042C54;
    /* border: 1px solid #ff8a71; */
    padding: 20px 15px 20px 30px;
  }
  .blog .blog-content h6{
    color: #bdbebd;
    margin-bottom: 10px;
  }
  .blog .blog-content p{
    font-size: 19px;
    font-weight: 600;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  .blog .blog-content a{
    font-size: 12px;
    color: #bdbebd;
  }
  .blog h1{
    margin-top:50px ;
    margin-bottom: 100px;
  }

  /* footer */
.footer {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: space-between;
  margin-top: 200px;
  margin-bottom: 200px;
}
.footer_item_logo p{
  width: 186px;
  font-size: 12px;
  color: #bdbebd;
  line-height: 1.6;
}
.footer_item_logo img{
  width:118px;
  margin-bottom: 20px;
}
.footer__end {
  /* position: relative; */
}
.footer__end h1{
  /* width: 821px; */
  text-align: center;
  margin:0 auto;
  margin-top: 200px;
  margin-bottom: 60px;
}
.footer__end button{
  margin: 0 auto;
  border: 1px solid #ffffff;
  border-radius: 0;
  color: #bdbebd;
}
.footer .footer_items{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
gap:50px;
}
.footer .footer_item{
  display: flex;
  flex-direction: column;
  gap:30px;
  align-items:flex-start;
 
}
.footer_item p{
  font-family: "ManropeBold", sans-serif;
  font-weight: 600;
  margin-bottom: 5px;

}
.footer_item a{
  font-size: 12px;
  color: #bdbebd;
}

.wrapper {
  position: relative;
  padding: 0 2rem;
}
.footer_line{
  padding: 2px 0;
  position: absolute;
  background: #040C18;
  left:0;
  width: 100%;
  right: 0;
  text-align: center;
 
}
.footer_line p {
  color: #bdbebd;
  font-size: 12px;
}

  /* Медиа запросы для адаптива */
  
@media screen and (max-width: 1024px) {
  .page {
    align-content: center;
  }

  .header {
    padding: 2rem;
  }

  .header .header__logo .logo__link img {
    width: 200%;
  }

  .header .header__right {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    row-gap: 53px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background: #031b34;
  }

  .header .header__menu {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .header .header__menu .menu {
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
  }

  .header .header__menu .menu__close {
    position: absolute;
    right: -100px;
    top: -100px;
  }

  .header .header__menu .menu .menu__item a {
    font-size: 48px;
  }
  /* hero_section*/
  .hero_section {
    flex-direction: column;
    justify-content: center;
    column-gap: 0;
    /* margin: 0; */
    width: 90%;
  }

  .hero_section .hero_section__left {
    width: 100%;
    text-align: center;
  }

  .hero_section .hero_section__right {
    display: flex;
    justify-content: center;
  }

  .hero_section .hero_section__right img {
    width: 60%;
  }

  .hero_section .hero_section__left .left__cta_buttons {
    justify-content: center;
  }

  /* what_is_chatgpt*/
  .what_is_chatgpt_section {
    row-gap: 4rem;
  }

  .what_is_chatgpt_section .what_is_chatgpt_section__middle {
    flex-direction: column;
    row-gap: 1rem;
  }

  .what_is_chatgpt_section .what_is_chatgpt_section__bottom .bottom__container {
    row-gap: 0;
  }
/*future_here*/
.future_here {
  column-gap: 0;
  flex-direction: column;
  row-gap: 4rem;
}

.future_here .future_here__left {
  row-gap: 1rem;
}
/*exceeding_all_expectations*/
.exceeding_all_expectations {
  flex-direction: column;
  justify-content: center;
  column-gap: 0;
  row-gap: 3rem;
  /* border:1px solid #71E5FF; */
  /* width: 90%; */
}
.exceeding_all_expectations .exceeding_all_expectations__right{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.exceeding_all_expectations .exceeding_all_expectations__left{
  display: flex;
  justify-content: center;
}
.exceeding_all_expectations .exceeding_all_expectations__left img{
  width: 80%;
}
/*limitless_possibilities*/
.limitless_possibilities{

}
.limitless_possibilities .limitless_possibilities__middle{
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  row-gap: 1rem;
}


/*blog*/
.blog {
  
}
.blog .blog_containers{
  grid-template-columns: 1fr 1fr;
}
/* .footer .footer_items{
  justify-content: space-between;
}  */
} 
  
@media screen and (max-width: 766px) {
  a {
    font-size: 12px;
  }

  p {
    font-size: 12px;
  }

  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 19px;
  }
  .brands_section {
    margin-top: -15px;
    padding-bottom: 0;
  }
  .hero_section {
    width: 100%;
  }
  .hero_section .hero_section__right img {
    width: 85%;
  }
  .hero_section .hero_section__left .left__cta_buttons input[type="text"] {
    min-width: auto;
  }

  .what_is_chatgpt_section .what_is_chatgpt_section__top {
    flex-direction: column;
  }
  
  .what_is_chatgpt_section .what_is_chatgpt_section__middle .middle__header {
    width: auto;
  }

  .what_is_chatgpt_section .what_is_chatgpt_section__bottom {
    flex-direction: column;
  }

  .what_is_chatgpt_section .what_is_chatgpt_section__bottom {
    row-gap: 2rem;
  }

  .what_is_chatgpt_section {
    row-gap: 3rem;
  }

  .what_is_chatgpt_section {
    margin: 6rem 0 0;
  }

  .what_is_chatgpt_section
    .what_is_chatgpt_section__bottom
    .bottom__container
    .container__content {
    line-height: 1.5;
  }

  .future_here {
    row-gap: 3rem;
  }

  .future_here .future_here__right .right__container {
    flex-direction: column;
  }

  .future_here .future_here__right .right__container .container__header {
    width: 100%;
  }

  .future_here .future_here__right .right__container .container__content {
    width: 100%;
  }

  .future_here .future_here__right {
    row-gap: 2rem;
  }

  .limitless_possibilities{

  }
  .footer {
    
    

  }
  .footer .footer_items{
    gap: 3rem;
    justify-content: space-between;
  } 
  .blog .blog_containers {
    grid-template-columns: 1fr; /* Все элементы теперь будут располагаться вертикально */
  }
  .blog .blog_grid_container {
    grid-column: auto; 
    grid-row: auto;   
  }
}

@media screen and (max-width: 765px) {

}

@media screen and (max-width: 480px) {

  
}